Flask>=3.0.0
SQLAlchemy>=2.0.30
python-dotenv>=1.0.1
cloudinary>=1.40.0
psycopg2-binary>=2.9.10
PyJWT>=2.9.0
flask-cors>=4.0.1
flask-jwt-extended>=4.6.0
flask-mail>=0.9.1
werkzeug>=3.0.0
alembic>=1.13.0
requests>=2.31.0
gunicorn>=21.2.0